* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: #fff;
  margin-top: 20rem;
  background-color: #333;
  opacity: 1;
  h1 {
    text-align: center;
  }
}

.range {
  margin: 0 auto;
  background-color: #fff;
  width: 50rem;
  height: 3rem;
  border-radius: 99999px;
  &-bar {
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(to bottom right, #b3c2a1, #c6c58d);
    text-align: center;
  }
}
